{% extends 'base_backend.html.twig' %}

{% block title %}New Product Category{% endblock %}

{% block body %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">
                        Create new Product Category
                    </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="{{ path('backend') }}">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Product Category</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fa fa-file"></i> Item
                            </h3>
                            <div class="card-tools">
                                <a href="{{ path('product_category_index') }}" class="btn btn-secondary btn-xs">
                                    <i class="fa fa-arrow-left"></i> back to list
                                </a>
                            </div>
                        </div>
                        {{ include('product_category/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
